body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(134, 131, 131);
    color: black;

}
header{
    font: 20pt arial;
    margin-left: 7rem;
    color:black;
}
section{
    background-color: rgb(196, 191, 191);
    color: black;
    padding: 1rem;
    width: 25rem;
    height: 25rem;
    border-radius: 1rem;
}
div{
    
    width: 5rem;
    padding-top: 0,2rem;
    color: black;
}
div#numeros{
    padding: 0.5rem;
    display: flex;
    background-color: white;
    width: 25rem;
    height: 2rem;
    margin-left: 0rem;
    color: black;
}

div#numeros#button,#num{
    margin-right: 0.6rem;
    padding-left: 0.2rem;
}
input#num{
    margin-left: 1rem;
    margin-right: 1rem;
}
select#res{
    background-color: white;
    width: 20rem;
}

footer{
    margin-left: 6rem;
}